#header{
    background-color: #EEEEEE;
    text-align: center;
}

#container{
    position: absolute;
    width: 1100px;
    border-bottom: 0px;
    font-family: sans-serif;
}

#Navigation{
    float: left;
}

#maincontent{
    position: relative;
    clear: both;
    left :300px;
    bottom: 150px;
    margin-bottom: 0px;
}

p{
    position: relative;
    left : 420px;
    bottom: 200px;
}

#footer{
    margin-bottom: 0px;
}

a{
    text-decoration: none;
}